* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Namz i {
    font-size: 40px;
    position: absolute;
}

#DD {
    border: none;
}

.Namz input {
    width: 200px;
    border-radius: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70px;
    font-size: x-large;
    margin-top: 2rem;
    font-size: xx-large;
    background-color: hsl(50, 50%, 65%);
    position: relative;
}

table tr th,
table tr td,
table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 1000px;
    height: 50px;
    margin-top: 5rem;
    text-align: center;
    font-size: x-large;
}

h1 {
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width:320px) {
    .Namz {
        display: flex;
        width: 700px;
        justify-content: center;
        align-items: center;
    }
    .Namz input {
        width: 130px;
        height: 60px;
        border-radius: 1rem;
    }
    table tr th,
    table tr td,
    table {
        border: 1px solid white;
        border-collapse: collapse;
        width: 700px;
        height: 50px;
        margin-top: 5rem;
        text-align: center;
        font-size: x-large;
    }
    .container2 {
        position: absolute;
        margin-left: 200px;
         }
 
}
@media (max-width:768px) {
    .container2 {
        position: absolute;
        margin-left: 200px;
         }
}
@media (min-width:321px) {
    .Namz {
        display: flex;
        width: 700px;
        justify-content: center;
        align-items: center;
    }

    .Namz input {
        width: 160px;
        height: 60px;
        border-radius: 1rem;
    }

    table tr th,
    table tr td,
    table {
        border: 1px solid white;
        border-collapse: collapse;
        width: 700px;
        height: 50px;
        margin-top: 5rem;
        text-align: center;
        font-size: x-large;
        position: relative;
    }
}


.container2 {
    background-color: hsl(50, 50%, 65%);
    width: 300px;
    position: relative;
    height: 200px;
    margin-top: -350px;
    /* margin-left: 620px; */
    color: white;
    border-radius: 5px;
    display: none;

}
.display{
    display: block;
}

.container2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.container2 input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-top: -120px;
}

.container2 i{
    position: fixed;
    margin-left: 130px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    animation-name:spin ;
animation-duration: 1s;
}

#set{
    animation-name:spin ;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes spin {
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
}
